.sidebar {
  position: fixed;
  width: var(--sidebar-width);
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-right: 1px solid var(--color-border);
}

.profile {
  padding: 32px;
  border-bottom: 1px solid var(--color-border);
}

.link {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.link:hover .name {
  color: var(--color-primary);
}

.name {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-normal);
  transition: color var(--transition-default);
}

.position {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-extra-light);
  line-height: var(--line-height-short);
  color: var(--color-text-secondary);
}
