/* Fonts */
:root {
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;

  --font-size-xxs: 0.75rem;
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.5rem;

  --line-height-short: 1.2em;
  --line-height-normal: 1.5em;
  --line-height-tall: 1.6em;
}

/* Transition */
:root {
  --transition-default: 100ms ease-in-out;
}

/* Sizes */
:root {
  --sidebar-width: 240px;
  --article-width: 800px;
}
